/*主题颜色*/
*{
    background-color: #9edfbd;
}

QToolBox::tab{
    margin: 0px;
    font-family: '楷体';
    font-size: 18px;
    border: 1px solid #70d9a3;
} 

QToolBox::tab:hover{    
    background-color: rgba(156,230,220,220);
}

/*
    功能性按钮
*/

QToolButton#function_tbtn{
    border: 2px solid rebeccapurple;
    border-radius: 8px;
    margin: 0px;
}

QToolButton#function_tbtn:hover{
   background-color: aqua;
}

QToolButton#function_tbtn:checked{
    background-color: aqua;
}

QLabel#textLab{
    font-family: '宋体';
    font-size: 12px;
}


QLineEdit{
    border: 2px solid rgb(66, 81, 59);
}
